h1 {
    text-align: center;
}

h2 {
font-family: Arial;
text-align: center;
}

li {
    font-style: italic;
    list-style-type: "\1F44D";
}
/* changing marker type */

article {
    font-size: 150%;
    text-align: justify;
    /*align-items: center;*/
    width: fit-content;
    /*margin: 10px 50px 20px;*/    
}

p {
    align-items: stretch;
}